body{
    margin: 0;
    background-color: rgb(101, 101, 101);
}
header{
    background-color: gray;
    display: flex;
    height: 100px;
    justify-content: space-between; /* separa h1 y nav */
    align-items: center;            /* centra verticalmente */
    padding: 0 40px; 
}
header nav{
    display: flex;
    align-items: center;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
li{
    margin-right: 20px;
}
header h1{
    display: inline;
    margin: 0;
    color: white;
}

main{
    background-color: bisque;
    /* margin: 10px; */
    padding: 10px;
}
.seccionUno{
    text-align: center;
    padding: 0;
}

.seccionUno h2{
    margin-top: 0;
    margin-bottom: 5px;
}
.seccionUno div{
    padding-bottom: 10px;
}
.seccionUno p{
    margin: 0 0 10 0;
}
.tarjeta{
    width: 300px;
    background-color: gray;
    border: 2px solid black;
    margin: 20px;
    text-align: center;
    padding: 5px;
}
img{
    width: 80%;
}
.contenedor_limite{
    max-width: 80%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* sombra difusa */
  border-radius: 8px; /* opcional, para bordes redondeados */

}
.seccion_tarjeta{
    display: flex;
}

footer{
    background-color: gray;
    text-align: center;
    padding: 20px;
}